<h1>Works#index</h1>
<p>Find me in app/views/works/index.html.erb</p>
<% @work_by_group.each do |key, value| %>
  <div style="width: 200; background-color: #06B2AA;">
    <p><%= key %>:  <%= value %></p>
  </div>
  <br>
<% end %>
