<div class="banner">
  <h1>Training track</h1>
  <p>Rastrea el esfuerzo de cada ejercicio diariamente y su aporte a cada músculo.</p>
  <%= link_to 'Comenzar', exercises_path %>
</div>
<div class="container">
  <div class="card">
    <div class="card-body">
    Ejercicios
    </div>
  </div>
  <div class="card">
  <div class="card-body">
    Entrenamiento
  </div>
  </div>
  <div class="card">
  <div class="card-body">
    Rendimiento
  </div>
  </div>
</div>
