<div class="container">
  <div class="titulo-box">
    <span class="titulo-texto"><span class="titulo-texto-color-azul">Tr</span>aining</span>
    <span class="titulo-texto"><span class="titulo-texto-color-verde">Tr</span>ack</span>
  </div>
</div>
<div class="contenedor-principal">
  <div class="contenedor-botones">
    <%= link_to 'Comenzar' , exercises_path, :class=> 'boton-primario' %>
    <%= link_to 'Ver mi Track' , exercises_path, :class=> 'boton-secundario' %>
  </div>
    <p class="pie">Hecho por Alfredo Villegas</p>
</div>
